/* styles.css */

body {
  background-color: #000;
  font-family: 'IBM Plex Mono', monospace;
  color: #0f0;
  font-size: 1rem;
  line-height: 1.5;
  padding: 2rem;
}

pre {
  white-space: pre-wrap;
}
