/* styles.css */

body {
  font-family: 'IBM Plex Mono', monospace;
  color: #e94560;
  font-size: 1rem;
  line-height: 1.5;
  padding: 2rem;
  background-image: linear-gradient(45deg, #1a1a2e, #2e2e4a);
}

pre {
  white-space: pre-wrap;
}

/* styles.css */

.cursor {
  background-color: #0f0;
  width: 0.5em;
  height: 1em;
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

